body {
  background-color: #232830;
  color: white;
  font-family: Poppins;
}

nav {
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

nav p {
  width: 80%;
  margin-left: 1rem;
}

.navbar {
  width: 20%;
  font-size: 24px;
}

.hero-text {
  font-style: italic;
  font-family: Recursive;
  font-size: 71px;
  font-weight: 400;
  color:#FF7575;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-para {
  font-weight: 400;
  font-size: 29px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section2 {
  height: 65px;
  width: 100%;
}

.section-content {
  display: flex;
}

.section-content p {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.categoryListing {
  font-family: recursive;
  font-style: italic;
  color:#909090;
  text-decoration: none;
  font-size: 27px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 70%;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}

.paginationItem {
  color: white;
  text-decoration: none;
  font-family: recursive;
  font-style: italic;
  color:#909090;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

.section3 div a {
  color: rgb(217, 208, 208);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-item {
  background-color: white;
  color: black;
  padding: 32px 24px;
  border-radius: 16px;
}

.img-container img {
  max-width: 400px;
}

.footer {
  display: flex;
  margin-top: 2rem;
}

footer h1 {
  width: 80%;
}

footer button {
background-color: #4699E0;
margin: 0;
padding: 0;
height: 50px;
border-radius: 10px;
border: none;
display: flex;
justify-content: center;
}

.footerButton {
  font-style: Semibold;
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  font-family: recursive, source sans pro;
}
