body {
  background-color:#232830;
  color: white;
}

nav {
  display: flex;
  align-items: center;
}

h1 {
  width: 80%;
  margin-left: 2rem;
}

.navbar {
  width: 20%;
}

.hero-text {
  font-style: italic;
  font-size: 40px;
  color: rgb(144, 75, 87);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section1 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.hero-para {
  font-weight: 900;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section2 {
  height: 300px;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-content a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-style: italic;
}

.section3 div a {
  color: rgb(217, 208, 208);
}

.grid {
  display: flex;
}

.grid-item {
  width: 33%;
  
}

.footer {
  display: flex;
}

