body {
  background-color: #232830;
  color: white;
  font-family: Poppins;
}

nav {
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

p {
  width: 80%;
  margin-left: 2rem;
}

.navbar {
  width: 20%;
  font-size: 24px;
}

.hero-text {
  font-style: italic;
  font-family: Recursive;
  font-size: 71px;
  font-weight: 400;
  color:#FF7575;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-para {
  font-weight: 400;
  font-size: 29px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section2 {
  height: 300px;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-content a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-style: italic;
}

.section3 div a {
  color: rgb(217, 208, 208);
}

.grid {
  display: flex;
}

.grid-item {
  width: 33%;
}

.footer {
  display: flex;
}
